{{ define "content" }}
<div class="content-contact-us container">
  <div class="page-header">
    <h1 class="title">contact us</h1>
  </div>
  <div class="content">
    <div class="form">
      <div class="form-control">
        <label for="name">name</label>
        <input type="text" name="name" />
      </div>
      <div class="form-control">
        <label for="email">email</label>
        <input type="text" name="email" />
      </div>
      <div class="form-control">
        <label for="message">message</label>
        <textarea rows="4" name="message"></textarea>
      </div>
      <button>send</button>
    </div>
    <div class="caption">
      <h2 class="title">for general inquiries</h2>
      <h3 class="subtitle">Brisuthi.officials@gmail.com</h3>
    </div>
    <div class="caption">
      <h2 class="title">office address</h2>
      <h3 class="subtitle">Borisut 888 Co.,Ltd Rd. 298/95 Ratchathewi</h3>
      <h3 class="subtitle">Bangkok Thailand 10400</h3>
    </div>
    <div class="caption">
      <h2 class="title">tel</h2>
      <h3 class="subtitle">064 894 4255</h3>
    </div>
    <div class="caption">
      <h2 class="title">available</h2>
      <h3 class="subtitle">Siam Discovery</h3>
      <h3 class="subtitle">Siam Paragon</h3>
      <h3 class="subtitle">Singapore</h3>
    </div>
    <div class="caption">
      <h2 class="title">shop now</h2>
      <h3 class="subtitle">LINE @brisuthi</h3>
    </div>
  </div>
</div>
{{ end }}
{{ define "javascript" }}
<script>
  sr.reveal('.content-contact-us .caption', fadeBottom)
  sr.reveal('.content-contact-us .form', fadeBottom)
</script>
{{ end }}
