{{ define "content" }}
<div class="content-contact-us container">
  <div class="page-header">
    <h1 class="title">contact us</h1>
  </div>
  <div class="content">
    <form
      action="https://formspree.io/{{ .Site.Params.contact.email }}"
      method="POST"
      class="form"
    >
      <div class="form-control">
        <label for="name">name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-control">
        <label for="email">email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-control">
        <label for="message">message</label>
        <textarea rows="4" id="message" name="message" required></textarea>
      </div>
      <button type="submit">send</button>
    </form>
    <div class="caption">
      <h2 class="title">for general inquiries</h2>
      <a href="mailto:{{ .Site.Params.contact.email }}">
        <h3 class="subtitle">{{ .Site.Params.contact.email }}</h3>
      </a>
    </div>
    <div class="caption">
      <h2 class="title">office address</h2>
      <h3 class="subtitle">{{ .Site.Params.contact.address | markdownify }}</h3>
    </div>
    <div class="caption">
      <h2 class="title">tel</h2>
      <a href="callto:{{ replace .Site.Params.contact.phone ` ` `` }}">
        <h3 class="subtitle">+{{ .Site.Params.contact.phone }}</h3>
      </a>
    </div>
    <div class="caption">
      <h2 class="title">shop now</h2>
      <a target="_bank" href="{{ .Site.Params.contact.line }}" rel="noopener">
        <h3 class="subtitle">LINE @brisuthi</h3>
      </a>
    </div>
  </div>
</div>
{{ end }}
{{ define "javascript" }}
<script>
  sr.reveal('.content-contact-us .page-header', fadeTop)
  sr.reveal('.content-contact-us .caption', fadeBottom)
  sr.reveal('.content-contact-us .form', fadeBottom)
</script>
{{ end }}
