* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: $background-color;
}

li {
  list-style: none;
}

main {
  margin-top: $header-height;

  @include media('<mobile') {
    margin-top: $header-height - 3;
  }
}

textarea,
input.text,
input[type='text'],
input[type='button'],
input[type='submit'],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

.page-header {
  text-align: center;
  margin-top: 2rem;
}

.container {
  @include media('<desktop-large') {
    padding: 0 20% 0 20%;
  }
  @include media('<desktop') {
    padding: 0 15% 0 15%;
  }
  @include media('<mobile') {
    padding: 0 5% 0 5%;
  }
  padding: 0 20% 0 20%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

@mixin debug {
  border: 1px solid red;
}

.debug {
  @include debug;
}

sub,
sup {
  font-size: 2.4rem;
  top: 0;
}

.liff {
  margin: 0;
  .content-product {
    .title {
      margin: 3rem 0;
    }
  }
}
