$background-color: #fff;
$primary: #000;
$secondary: #979797;

$header-height: 10.8rem;

$breakpoints: (
  mobile: 769px,
  tablet: 1024px,
  desktop: 1224px,
  desktop-medium: 1441px,
  desktop-large: 1600px,
) !default;
