{{ define "content" }}
{{ partial "carousel/site-carousel.html" . }}
<div class="content-product">
  <div class="collection">
    <div class="page-header">
      <h1 class="title">brisuthi collection</h1>
      <div class="swiper-container product-list">
        <div class="swiper-wrapper">
          {{ range.Pages }}
          <div class="swiper-slide">
            {{ $image := .Resources.GetMatch "product.png" }}
            <img src="{{ $image.RelPermalink }}" alt="" />
            <h2>{{ .Title }}</h2>
            <p>{{ .Content | truncate 150 }}</p>
            <a href="{{.Permalink}}">VIEW</a>
          </div>
          {{ end }}
          <div class="swiper-pagination product-list-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="quote-container container">
    {{ $quoteImg := .Resources.GetMatch "quote-banner.png" }}
    <img src="{{ $quoteImg.RelPermalink }}" alt="quote" />
    <div class="quote">
      <h2>simplicity<br />of<br />nature</h2>
      <hr />
      <h3>empowers</h3>
      <h3>unparalleled</h3>
      <h3>beauty</h3>
    </div>
  </div>
</div>
{{ end }}
{{ define "javascript" }}
{{ partial "carousel/scripts.html" }}
{{ end }}
