{{ define "content" }}
<div class="content-product-detail container">
  <div class="information">
    {{ $image := (.Resources.GetMatch "product.jpg").Resize "1200x" }}
    <div class="detail">
      <img src="{{ $image.RelPermalink }}" alt="product" />
      <div class="detail-container">
        <h1>{{ .Title }}</h1>
        <div class="size-price">
          <p>size : {{ .Params.size | int | lang.NumFmt 0 }} ml.</p>
          <p>price : {{ .Params.price | int | lang.NumFmt 0 }} baht</p>
        </div>
        <div class="content">
          <p>{{ .Content }}</p>
        </div>
        <div class="ingredients">
          <h2>main ingredients</h2>
          <ul>
            {{ range.Params.ingredients }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <div class="benefit">
      <h2>benefits</h2>
      <ul>
        {{ range.Params.benefits }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
    <div class="direction">
      <h2>direction</h2>
      <p>{{ .Params.direction }}</p>
    </div>
  </div>
  <img
    class="banner"
    src="{{ `img/product/banner/banner.png` | relURL }}"
    alt="banner"
  />
</div>
{{ end }}
{{ define "javascript" }}
<script>
  sr.reveal('.content-product-detail .information .detail img', fadeLeft)
  sr.reveal('.content-product-detail .information .detail .detail-container', fadeRight)
  sr.reveal('.content-product-detail .benefit', fadeLeft)
  sr.reveal('.content-product-detail .direction', fadeRight)
  sr.reveal('.content-product-detail .banner', fadeBottom)
</script>
{{ end }}
