.body-gallery {
  .c1 {
    li {
      &:nth-child(1) {
        img {
          margin: 5rem 0 10rem 20rem;
          width: 60%;
        }
      }

      &:nth-child(2) {
        img {
          margin: 0 0 7rem 10rem;
          width: 30%;
        }
      }

      &:nth-child(3) {
        img {
          margin: 0 0 10rem 25rem;
          width: 40%;
        }
      }
    }
  }

  .c2 {
    li {
      &:nth-child(1) {
        img {
          margin: 40rem 15rem 12rem 0;
          width: 60%;
        }
      }

      &:nth-child(2) {
        img {
          margin: 0 25rem 7rem 0;
          width: 40%;
        }
      }
    }
  }
}
