.body-gallery {
  .c1 {
    li {
      &:nth-child(1) {
        img {
          margin: 5rem 0 10rem 40%;
          width: 60%;
          @include media('<tablet') {
            margin: 0 0 5rem 20%;
          }
        }
      }

      &:nth-child(2) {
        img {
          margin: 0 0 7rem 30%;
          width: 30%;
          @include media('<tablet') {
            margin: 0 0 5rem 30%;
          }
        }
      }

      &:nth-child(3) {
        img {
          margin: 0 0 0 45%;
          width: 40%;
          @include media('<tablet') {
            margin: 0 0 0 35%;
          }
        }
      }
    }
  }

  .c2 {
    li {
      &:nth-child(1) {
        img {
          margin: 40rem 35% 12rem 0;
          width: 30%;
          @include media('<tablet') {
            margin: 0 25% 5rem 0;
          }
        }
      }

      &:nth-child(2) {
        img {
          margin: 0 45% 0 0;
          width: 40%;
          @include media('<tablet') {
            margin: 0 15% 0 0;
          }
        }
      }
    }
  }
}
