.hair-gallery {
  .c1 {
    li {
      &:nth-child(1) {
        img {
          margin: 5rem 0 7rem 20rem;
          width: 30%;
        }
      }

      &:nth-child(2) {
        img {
          margin: 0 0 5rem 30rem;
          width: 40%;
        }
      }

      &:nth-child(3) {
        img {
          margin: 0 0 10rem 15rem;
          width: 40%;
        }
      }

      &:nth-child(4) {
        img {
          margin: 0 0 0 25rem;
          width: 40%;
        }
      }
    }
  }

  .c2 {
    li {
      &:nth-child(1) {
        img {
          margin: 3rem 15rem 10rem 0;
          width: 60%;
        }
      }

      &:nth-child(2) {
        img {
          margin: 0 18rem 7rem 0;
          width: 40%;
        }
      }

      &:nth-child(3) {
        img {
          margin: 0 0 10rem 0;
          object-fit: none;
          width: 100%;
          height: 30rem;
        }
      }

      &:nth-child(4) {
        img {
          margin: 0 25rem 0 0;
          width: 40%;
        }
      }
    }
  }
}
