.header {
  position: fixed;
  background-color: $background-color;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 0 4rem 0 4rem;
  align-items: center;
  z-index: 2;
  transition: background-color 0.2s linear;

  &.transparent {
    background-color: transparent;
    transition: background-color 0.2s linear;
  }

  @include media('<mobile') {
    height: $header-height - 3;
  }

  .search {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}
