<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-143298366-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'UA-143298366-1')
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
    {{ block "meta" . }}
    {{ end }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/google_news.html" . }}
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      as="style"
      onload="this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Prompt:200,300"
      as="style"
      onload="this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
      as="style"
      onload="this.rel='stylesheet'"
    />
    {{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
    <link
      rel="preload"
      href="{{ $style.RelPermalink }}"
      as="style"
      onload="this.rel='stylesheet'"
    />
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  </head>
  <body>
    {{ partial "header/site-header.html" . }}
    <div id="page">
      <main>
        {{ block "content" . }}
        {{ end }}
      </main>
      {{ partial "footer/site-footer.html" . }}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    {{ partial "header/scripts.html" }}
    {{ partial "footer/scripts.html" }}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script>
      lozad().observe()
      var fade = {
        mobile: false,
        duration: 2000,
        distance: '300px',
        viewFactor: 0.2,
      }
      var fadeTop = Object.assign({}, fade, { origin: 'top', distance: '10px' })
      var fadeLeft = Object.assign({}, fade, { origin: 'left' })
      var fadeRight = Object.assign({}, fade, { origin: 'right' })
      var fadeBottom = Object.assign({}, fade, { origin: 'bottom' })
    </script>
    {{ block "javascript" . }}
    {{ end }}
  </body>
</html>
