{{ define "content" }}
{{ partial "carousel/site-carousel.html" .Params.carousel }}
<div class="content-product">
  <div class="collection">
    <div class="page-header">
      <h1 class="title">brisuthi {{ .Title }} collection</h1>
      <div class="swiper-container product-list">
        <div class="swiper-wrapper">
          {{ range.Pages }}
          <div class="swiper-slide">
            {{ range first 1 (.Resources.ByType "image") }}
              {{ $image := . }}
              {{ $image := $image.Resize "600x" }}
              <img src="{{ $image.RelPermalink }}" alt="product" />
            {{ end }}
            <div class="caption">
              <h2>{{ .Title }}</h2>
              <p>{{ .Content | truncate 120 }}</p>
              <a href="{{.Permalink}}"
                >VIEW<span
                  class="icon"
                  style="background:url({{`img/icon/right-arrow.svg`|relURL}}) no-repeat;"
                ></span
              ></a>
            </div>
          </div>
          {{ end }}
        </div>
        <div class="swiper-pagination product-list-pagination"></div>
        <div
          class="swiper-button-next"
          style="background:url({{`img/icon/p-right-arrow.svg`|relURL}}) no-repeat;"
        ></div>
        <div
          class="swiper-button-prev"
          style="background:url({{`img/icon/p-left-arrow.svg`|relURL}}) no-repeat;"
        ></div>
      </div>
    </div>
  </div>
  <div class="quote-container container">
    <img src="{{ `img/product/quote/quote-banner.png` | relURL }}" alt="quote" />
    <div class="quote">
      <h2>simplicity<br />of<br />nature</h2>
      <hr />
      <h3>empowers</h3>
      <h3>unparalleled</h3>
      <h3>beauty</h3>
    </div>
  </div>
</div>
{{ end }}
{{ define "javascript" }}
{{ partial "carousel/scripts.html" }}
<script>
  new Swiper('.product-list', {
    slidesPerView: 3,
    slidesPerGroup: 3,
    autoplay: true,
    loop: true,
    pagination: {
      el: '.product-list-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      1060: {
        slidesPerView: 2,
        slidesPerGroup: 2,
      },
      750: {
        slidesPerView: 1,
        slidesPerGroup: 1,
      },
    },
  })
  sr.reveal('.content-product .quote-container img', fadeLeft)
  sr.reveal('.content-product .quote-container .quote', fadeRight)
</script>
{{ end }}
