{{ define "content" }}
<div class="content-product">
  {{ $image := resources.Get "img/new/facial/1.jpg" }}
        {{ $image := $image.Resize "200x" }}
        <img src="{{ $image.RelPermalink }}" alt="product" />
  <div class="facial-gallery">
    <ul>
      <li><img src="{{ `img/new/facial/1.jpg` | relURL }}" /></li>
    </ul>
  </div>
  {{ $currentPage := . }}
  <ul class="filter-menu">
    {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
    <li class="{{ if eq ($currentPage.Title | lower) $name }}active{{ end }}">
      <a href="{{ printf `/categories/%s` ($name | urlize ) | relURL }}">
        {{ $name }}
      </a>
    </li>
    {{ end }}
  </ul>
  <div class="product-list">
    {{ range.Pages }}
    <div class="product-item">
      {{ range first 1 (.Resources.ByType "image") }}
      {{ $image := . }}
      {{ $image := $image.Resize "600x" }}
      <img src="{{ $image.RelPermalink }}" alt="product" />
      {{ end }}
      <div class="caption">
        <h2>{{ .Title }}</h2>
        <p>{{ .Content | truncate 120 }}</p>
        <a href="{{.Permalink}}">
          VIEW
          <span
            class="icon"
            style="background:url({{`img/icon/right-arrow.svg`|relURL}}) no-repeat;"
          ></span>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="quote-container container">
    <img
      src="{{ `img/product/quote/quote-banner.png` | relURL }}"
      alt="quote"
    />
    <div class="quote">
      <h2>simplicity<br />of<br />nature</h2>
      <hr />
      <h3>empowers</h3>
      <h3>unparalleled</h3>
      <h3>beauty</h3>
    </div>
  </div>
</div>
{{ end }}
{{ define "javascript" }}
<script>
  sr.reveal('.content-product .quote-container img', fadeLeft)
  sr.reveal('.content-product .quote-container .quote', fadeRight)
</script>
{{ end }}
