{{ define "content" }}
<div class="content-product">
  {{ $currentPage := . }}
  {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
  <li class="sub-menu {{ if eq ($currentPage.Title | lower) $name }}active{{ end }}">
    <a href="{{ printf `/categories/%s` ($name | urlize ) | relURL }}">
      {{ $name }}
    </a>
  </li>
  {{ end }}
  <div class="collection">
    <div class="page-header">
      <h1 class="title">brisuthi {{ .Title }} collection</h1>
      <div class="swiper-container product-list">
        <div class="swiper-wrapper">
          {{ range.Pages }}
          <div class="swiper-slide">
            {{ range first 1 (.Resources.ByType "image") }}
            {{ $image := . }}
            {{ $image := $image.Resize "600x" }}
            <img src="{{ $image.RelPermalink }}" alt="product" />
            {{ end }}
            <div class="caption">
              <h2>{{ .Title }}</h2>
              <p>{{ .Content | truncate 120 }}</p>
              <a href="{{.Permalink}}">
                VIEW
                <span
                  class="icon"
                  style="background:url({{`img/icon/right-arrow.svg`|relURL}}) no-repeat;"
                ></span>
              </a>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="quote-container container">
    <img
      src="{{ `img/product/quote/quote-banner.png` | relURL }}"
      alt="quote"
    />
    <div class="quote">
      <h2>simplicity<br />of<br />nature</h2>
      <hr />
      <h3>empowers</h3>
      <h3>unparalleled</h3>
      <h3>beauty</h3>
    </div>
  </div>
</div>
{{ end }}
{{ define "javascript" }}
<script>
  sr.reveal('.content-product .quote-container img', fadeLeft)
  sr.reveal('.content-product .quote-container .quote', fadeRight)
</script>
{{ end }}
