{{ define "meta" }}
{{ range first 1 (.Resources.ByType "image") }}
{{ $image := . }}
{{ $image := $image.Fill "1200x630" }}
<meta property="og:image" content="{{ $image.Permalink }}" />
{{ end }}
{{ end }}
{{ define "content" }}
<div class="content-product-detail container">
  <div class="information">
    <div class="detail">
      {{ $page := . }}
      {{ range first 1 (.Resources.ByType "image") }}
      {{ $image := . }}
      {{ $image = $image.Resize "1200x q50" }}
      <img src="{{ $image.RelPermalink }}" alt="{{ $page.Title }}" />
      {{ end }}
      <div class="detail-container">
        <h1>{{ .Title }}</h1>
        <div class="size-price">
          {{ if .Params.size }}
          <p>size : {{ .Params.size | float }} ml.{{ .Params.sizeDesc }}</p>
          {{ end }}
          {{ if .Params.price }}
          <p>price : {{ .Params.price | int | lang.NumFmt 0 }} baht</p>
          {{ end }}
        </div>
        <div class="content">
          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
    {{ if .Params.ingredients }}
    <div class="ingredients">
      <h2>main ingredients</h2>
      <ul>
        {{ range.Params.ingredients }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ if .Params.direction }}
    <div class="direction">
      <h2>direction</h2>
      <p>{{ .Params.direction }}</p>
    </div>
    {{ end }}
  </div>
  <div class="share-buttons">Share on: {{ partial "share-buttons" . }}</div>
  <img
    class="banner"
    src="{{ `img/product/carousel/01.png` | relURL }}"
    alt="banner"
  />
</div>
{{ end }}
{{ define "javascript" }}
<script>
  sr.reveal('.content-product-detail .information .detail img', fadeLeft)
  sr.reveal(
    '.content-product-detail .information .detail .detail-container',
    fadeRight,
  )
  sr.reveal('.content-product-detail .ingredients', fadeLeft)
  sr.reveal('.content-product-detail .direction', fadeRight)
  sr.reveal('.content-product-detail .share-buttons', fadeBottom)
  sr.reveal('.content-product-detail .banner', fadeBottom)
</script>
{{ end }}
