<footer>
  <div class="follow-us">
    <h3>- follow our -</h3>
    <a href="https://www.instagram.com/brisuthi.th/" target="_blank">
      <h2>instagram</h2>
    </a>
  </div>
  <div class="swiper-container img-slider">
    <div class="swiper-wrapper">
      {{ range (readDir "/static/img/index/instagram") }}
      {{ $image := .Name | printf "img/index/instagram/%s" | relURL }}
      <div
        class="swiper-slide"
        style="background-image:url({{$image}})"
      ></div>
      {{ end }}
    </div>
  </div>
  <div class="footer-link">
    {{ partial "footer/site-newsletter.html" . }}
    <ul class="social-link">
      {{ range.Site.Menus.footer }}
        <li>
          <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
    <ul class="term-link">
      <li><a href="{{ `/contact-us` | relURL }}">Contact us</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
    <div class="copyright">
      &copy; Brisuthi 2019
    </div>
  </div>
</footer>
