.content-about-us {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .content {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    @include media('<desktop') {
      flex-flow: column nowrap;
    }
    img {
      margin-right: 3rem;
      width: 50%;
      height: 100%;
      object-fit: cover;

      @include media('<desktop') {
        margin: 0 0 3rem 0;
        width: 100%;
      }
    }

    .philosophy {
      display: flex;
      flex-flow: column nowrap;

      @include media('<mobile') {
        align-items: center;
      }
      h2 {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 1rem;
      }

      p {
        text-indent: 3rem;
        font-size: 1.4rem;
        margin-bottom: 2rem;
      }
    }
  }
}
