.content-contact-us {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .page-header {
    margin-bottom: 2rem;
  }

  .content {
    width: 100%;

    .caption {
      text-align: center;
      margin-top: 10rem;

      .subtitle {
        font-size: 2.4rem;
        color: #4a4a4a;
        letter-spacing: 0.13rem;
        line-height: 4rem;

        @include media('<mobile') {
          line-height: 3rem;
          font-size: 1.8rem;
        }
      }
    }
  }
}
