.content-contact-us {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .page-header {
    margin-bottom: 2rem;
  }

  .content {
    width: 100%;

    .form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      .form-control {
        width: 60%;

        @include media('<tablet') {
          width: 100%;
        }

        label {
          display: block;
          text-transform: uppercase;
          font-size: 2rem;
          font-weight: 200;
          margin-bottom: 0.5rem;
          @include media('<mobile') {
            font-size: 1.5rem;
          }
        }
        input,
        textarea {
          padding: 1rem;
          border: 1px solid #979797;
          -webkit-appearance: none;
          border-radius: 0px;
          font-size: 2rem;
          margin-bottom: 3rem;
          width: 100%;

          @include media('<mobile') {
            font-size: 1.5rem;
            padding: 0.5rem;
          }
        }

        input {
          height: 4.5rem;

          @include media('<mobile') {
            height: 3.5rem;
          }
        }
      }

      button {
        background-color: #acacac;
        color: #fff;
        width: 20rem;
        height: 4rem;
        font-size: 2rem;
        font-weight: 200;
        text-transform: uppercase;
        cursor: pointer;
        border: 0;
      }
    }

    .caption {
      text-align: center;
      margin-top: 10rem;

      .subtitle {
        font-size: 2.4rem;
        color: #4a4a4a;
        letter-spacing: 0.13rem;
        line-height: 4rem;

        @include media('<mobile') {
          line-height: 3rem;
          font-size: 1.8rem;
        }
      }
    }
  }
}
