.home-gallery {
  .c1 {
    li {
      &:nth-child(1) {
        img {
          margin: 20rem 0 15rem 50%;
          width: 40%;
          @include media('<tablet') {
            margin: 5rem 0 5rem 50%;
          }
        }
      }

      &:nth-child(2) {
        img {
          margin: 0 0 15rem 40%;
          width: 30%;
          @include media('<tablet') {
            margin: 0 0 5rem 30%;
          }
        }
      }

      &:nth-child(3) {
        img {
          margin: 0 0 30rem 50%;
          width: 30%;
          @include media('<tablet') {
            margin: 0 0 5rem 50%;
          }
        }
      }

      &:nth-child(4) {
        img {
          margin: 0 0 10rem 45%;
          width: 40%;
          @include media('<tablet') {
            margin: 0 0 5rem 35%;
          }
        }
      }

      &:nth-child(5) {
        img {
          margin: 0 0 15rem 60%;
          width: 30%;
          @include media('<tablet') {
            margin: 0 0 5rem 30%;
          }
        }
      }

      &:nth-child(6) {
        img {
          margin: 0 0 10rem 45%;
          width: 40%;
          @include media('<tablet') {
            margin: 0 0 5rem 35%;
          }
        }
      }

      &:nth-child(7) {
        img {
          margin: 0 0 0 55%;
          width: 40%;
          @include media('<tablet') {
            margin: 0 0 0 45%;
          }
        }
      }
    }
  }

  .c2 {
    li {
      &:nth-child(1) {
        img {
          margin: 3rem 35% 10rem 0;
          width: 55%;
          @include media('<tablet') {
            margin: 0 25% 5rem 0;
          }
        }
      }

      &:nth-child(2) {
        img {
          margin: 0 20% 4rem 0;
          width: 40%;
          @include media('<tablet') {
            margin: 0 20% 5rem 0;
          }
        }
      }

      &:nth-child(3) {
        img {
          margin: 0 40% 10rem 0;
          width: 30%;
          @include media('<tablet') {
            margin: 0 30% 5rem 0;
          }
        }
      }

      &:nth-child(4) {
        img {
          margin: 0 65% 20rem 0;
          width: 45%;
          @include media('<tablet') {
            margin: 0 25% 5rem 0;
          }
        }
      }

      &:nth-child(5) {
        img {
          margin: 0 25% 15rem 0;
          width: 25%;
          @include media('<tablet') {
            margin: 0 25% 15rem 0;
          }
        }
      }

      &:nth-child(6) {
        img {
          margin: 0 40% 10rem 0;
          width: 40%;
          @include media('<tablet') {
            margin: 0 30% 5rem 0;
          }
        }
      }

      &:nth-child(7) {
        img {
          margin: 0 50% 0 0;
          width: 40%;
          @include media('<tablet') {
            margin: 0 50% 0 0;
          }
        }
      }
    }
  }
}
