.content-product {
  .collection {
    background-color: #f5f5f5;
    margin: 10rem 0 10rem 0;
    padding: 5rem;

    .product-list {
      margin: 5rem 8rem 0 8rem;

      @include media('<desktop-large') {
        margin: 5rem 5rem 0 5rem;
      }

      @include media('<desktop-medium') {
        margin: 5rem 0 0 0;
      }

      .swiper-button {
        &-next,
        &-prev {
          @include media('<desktop', '>=1060px') {
            display: none;
          }

          @include media('<900px', '>=750px') {
            display: none;
          }

          @include media('<=500px') {
            display: none;
          }
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        background-size: 17px 34px;
      }
      .swiper-button-next {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
        right: 0;
      }
      .swiper-button-prev {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
        left: 0;
      }

      .swiper-wrapper {
        .swiper-slide {
          // @include media('<desktop-medium', '>tablet') {
          //   width: 1rem;
          // }
          height: 63rem;

          img {
            width: 100%;
            max-width: 30rem;
            object-fit: cover;
          }

          .caption {
            padding: 0 5rem 0 5rem;
            @include media('<desktop', '>=1060px') {
              padding: 0;
            }

            @include media('<900px', '>=750px') {
              padding: 0;
            }

            @include media('<=500px') {
              padding: 0;
            }

            h2 {
              font-size: 1.6rem;
              font-weight: 300;
              margin: 3rem;
              height: 4rem;
            }

            p {
              font-size: 1.2rem;
              font-weight: 300;
              color: #4a4a4a;
              margin: 3rem;
              text-transform: none;
            }

            a {
              font-size: 1.3rem;
              font-weight: 200;
              padding: 0.5rem 2rem 0.5rem 2rem;
              border-radius: 2.5rem;
              border: solid 1px #979797;
              display: inline-block;

              span.icon {
                display: inline-block;
                margin-left: 1rem;
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
      }
    }
  }

  .quote-container {
    display: flex;
    justify-content: center;

    @include media('<mobile') {
      flex-flow: column nowrap;
    }

    img {
      margin-top: 2rem;
      width: 50%;
      height: 100%;
      object-fit: cover;
      @include media('<desktop-medium') {
        margin-top: 1.2rem;
      }
      @include media('<mobile') {
        width: 100%;
      }
    }

    .quote {
      margin-left: 3rem;
      @include media('<mobile') {
        margin: 3rem 0 0 0;
      }

      h2 {
        font-size: 5rem;
        letter-spacing: 0.433rem;
        font-weight: 300;
        line-height: 8rem;
        @include media('<desktop-medium') {
          font-size: 4rem;
          line-height: 6rem;
          letter-spacing: 0.2rem;
        }
        @include media('<mobile') {
          font-size: 3rem;
        }
      }

      hr {
        width: 10rem;
        margin: 2rem 0 3rem 0;
      }

      h3 {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.15rem;
        line-height: 4rem;
      }
    }
  }
}
