.content-product {
  .collection {
    background-color: #f5f5f5;
    margin: 10rem 0 10rem 0;
    padding: 5rem;

    .product-list {
      margin: 5rem 10rem 0 10rem;
      border: 1px solid red;

      .swiper-wrapper {
        .swiper-slide {
          height: 65rem;
          border: 1px solid red;

          img {
            width: 100%;
            max-width: 30rem;
            object-fit: cover;
          }

          .caption {
            padding: 0 5rem 0 5rem;

            h2 {
              font-size: 1.6rem;
              font-weight: 300;
              margin: 3rem;
              height: 4rem;
            }

            p {
              font-size: 1.2rem;
              font-weight: 300;
              color: #4a4a4a;
              margin: 3rem;
              text-transform: none;
            }

            a {
              font-size: 1.3rem;
              font-weight: 200;
              padding: 0.5rem 2rem 0.5rem 2rem;
              border-radius: 2.5rem;
              border: solid 1px #979797;
              display: inline-block;

              span.icon {
                display: inline-block;
                margin-left: 1rem;
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
      }
    }
  }

  .quote-container {
    display: flex;
    justify-content: center;

    @include media('<mobile') {
      flex-flow: column nowrap;
    }

    img {
      width: 50%;
      height: 100%;
      object-fit: cover;
      @include media('<mobile') {
        width: 100%;
      }
    }

    .quote {
      margin-left: 3rem;
      @include media('<mobile') {
        margin: 3rem 0 0 0;
      }

      h2 {
        font-size: 5rem;
        letter-spacing: 0.433rem;
        font-weight: 300;
        line-height: 8rem;
        @include media('<tablet') {
          font-size: 4rem;
          line-height: 6rem;
          letter-spacing: 0.2rem;
        }
        @include media('<mobile') {
          font-size: 3rem;
        }
      }

      hr {
        width: 10rem;
        margin: 2rem 0 3rem 0;
      }

      h3 {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 0.15rem;
        line-height: 4rem;
      }
    }
  }
}
