{{ $category := .Title | lower }}
{{ $c1Num := .Params.c1Num }}
<div class="gallery {{ $category }}-gallery">
  {{ $size := "400x"}}
  {{ $baseURL := $category | printf "img/new/%s" }}
  <ul class="c1">
    {{ range $index, $num := (seq $c1Num) }}
    <li>
      {{ $image := resources.Get (printf "%s/%d.jpg" $baseURL $num) }}
      {{ $image := $image.Resize $size }}
      <img src="{{ $image.RelPermalink }}" />
    </li>
    {{ end }}
  </ul>
  <ul class="c2">
    {{ range $index, $num := (seq .Params.c2Num) }}
    <li>
      {{ $image := resources.Get (printf "%s/%d.jpg" $baseURL (add $num $c1Num)) }}
      {{ $image := $image.Resize $size }}
      <img src="{{ $image.RelPermalink }}" />
    </li>
    {{ end }}
  </ul>
</div>
