<div class="product-list">
  {{ range.Pages }}
  <div class="product-item">
    {{ range first 1 (.Resources.ByType "image") }}
    {{ $image := . }}
    {{ $image := $image.Resize "600x" }}
    <img src="{{ $image.RelPermalink }}" alt="product" />
    {{ end }}
    <div class="caption">
      <h2>
        <a href="{{.Permalink}}">{{ .Title }}</a>
      </h2>
      {{ if .Params.Tags }}
      {{ $tag := (index .Params.Tags 0)}}
      <h3>
        <a href="{{ printf `/tags/%s` ($tag | urlize ) | relURL }}">
          {{ $tag }}
        </a>
      </h3>
      {{ end }}
      <p>{{ .Content | truncate 120 }}</p>
      <a class="btn" href="{{.Permalink}}">
        VIEW
        <span
          class="icon"
          style="background:url({{`img/icon/right-arrow.svg`|relURL}}) no-repeat;"
        ></span>
      </a>
    </div>
  </div>
  {{ end }}
</div>
