<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-143298366-1"
></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', 'UA-143298366-1')
</script>
<meta name="theme-color" content="#fff" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta
  name="description"
  content="{{ with.Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with.Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"
/>
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/google_news.html" . }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "{{ .Site.BaseURL }}",
    "logo": "{{ `img/icon/logo.svg` | absURL }}",
    "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "+{{ replace .Site.Params.contact.phone ` ` `-` }}",
      "contactType": "customer service"
    }]
  }
</script>
