{{ define "content" }}
<div class="content-index container">
  <ul>
    <li>
      <figure>
        <img src="{{ `img/index/4-4-section/image-1.png` | relURL }}" alt="" />
      </figure>
    </li>
    <li>
      <figure>
        <img src="{{ `img/index/4-4-section/image-2.png` | relURL }}" alt="" />
      </figure>
    </li>
    <li>
      <figure>
        <img src="{{ `img/index/4-4-section/image-3.png` | relURL }}" alt="" />
      </figure>
    </li>
    <li>
      <figure>
        <img src="{{ `img/index/4-4-section/image-4.png` | relURL }}" alt="" />
      </figure>
    </li>
  </ul>
</div>
{{ end }}
