{{ define "content" }}
<div class="content-about-us container">
  <div class="page-header">
    <h1 class="title">{{ .Title }}</h1>
  </div>
  <div class="content">
    {{ $image := resources.Get "img/about-us/about-us.jpg" }}
    {{ $image := $image.Resize "1200x q50" }}
    <img src="{{ $image.RelPermalink }}" alt="about-us" />
    <div class="philosophy">
      <h2>our philosophy</h2>
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
{{ define "javascript" }}
<script>
  sr.reveal('.content-about-us .page-header', fadeTop)
  sr.reveal('.content-about-us img', fadeLeft)
  sr.reveal('.content-about-us .philosophy', fadeRight)
</script>
{{ end }}
