<header class="header">
  <nav class="navigation" role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="{{ if $currentPage.IsMenuCurrent `main` . }}active{{ end }}">
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ if eq .Name "Product" }}
            {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
                <li class="sub-menu">
                  <a href="{{ printf `/categories/%s` ($name | urlize ) | relURL }}">{{ $name }}</a>
                </li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>
  <a href="{{ `/` | relURL }}">
    <img class="logo" src="{{ `img/icon/logo.svg` | relURL }}" alt="brisuthi">
  </a>
  <img class="search" src="{{ `img/icon/magnifying-glass.svg` | relURL }}" alt="Search" />
</header>
