<script>
  axios
    .get(
      'http://localhost:4000/api/rewards?userId=U5905181fde8e199deef987cbc54b438b',
    )
    .then(function(res) {
      document.getElementById('test-data').textContent = JSON.stringify(
        res.data,
        null,
        2,
      )
    })

  liff.init(function(data) {
    document.getElementById('liff-data').textContent = JSON.stringify(
      data,
      null,
      2,
    )
    liff
      .getProfile()
      .then(function(profile) {
        document.getElementById('liff-profile').textContent = JSON.stringify(
          profile,
          null,
          2,
        )
      })
      .catch(function(error) {
        window.alert('Error getting profile: ' + error)
      })
  })
</script>
