<script>
  const profile = {
    name: 'paiboon',
    age: 30,
  }
  document.getElementById('test-data').textContent = JSON.stringify(
    profile,
    null,
    2,
  )

  liff.init(function(data) {
    document.getElementById('liff-data').textContent = JSON.stringify(
      data,
      null,
      2,
    )
    liff
      .getProfile()
      .then(function(profile) {
        document.getElementById('liff-profile').textContent = JSON.stringify(
          profile,
          null,
          2,
        )
      })
      .catch(function(error) {
        window.alert('Error getting profile: ' + error)
      })
  })
</script>
